{% extends 'navigation.html' %}

{% block title %}Employer Login{%endblock title%}

{% block head %}

<link href="/static/css/signin.css" rel="stylesheet">

{% endblock head %}

{% block body %}
<marquee class="bg-secondary text-light" width="100%" direction="right" height="25px">
  EMPLOYER LOGIN
</marquee>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <h6>EMPLOYER LOGIN</h6>
      </div>
  
      <form method="POST">
        {% csrf_token %}
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="email" required>
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" required>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <div id="formFooter">
        <a class="underlineHover" href="/employers/employer_signup">Not Signed Up?</a>
      </div>
  
    </div>
  </div>
  {% ifequal error "no" %}
    <script>
        window.location.replace("/employers/employer_home");
    </script>
    {% endifequal %}

    {% ifequal error "yes" %}
    <script>
        alert("Invalid Login");
    </script>
    {% endifequal %}

    {% ifequal error "not" %}
    <script>
        alert("Your Login status is pending");
    </script>
    {% endifequal %}

{% endblock body %}
